@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
	background: #121212;
	font-family: 'Montserrat', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

#container {
	margin-top: 3em;
}

.me {
	margin-left: 17em;
	float: left;
	padding: 1em;
	border: 1px solid #3a3a3b;
	border-radius: 30px;
	background-color: #1e1e1f;
}

.me img {
	height: 20em;
	box-shadow: 0 5px 0px #C2B2B4;
    border-radius: 40px 0px 80px 45px;
}

.social {
	margin: 1em 0 0 0;
	text-align: center;
	text-decoration: none;
	color: #3a3a3b;
	font-size: 20px;
	transition: background-color 300ms;
}

.social a:hover {
	background-color: #c0bfbf;
}

.social a {
    background-color: #ffffff;
	border: 1px solid #3a3a3b;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

#aboutme  {
	margin-left: 2em;
	float: left;
	width: 55%;
}

#aboutme  h1 {
    font-weight: bold;
    font-size: 20px;
    color: #eeedee;
}

#aboutme p {
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
	text-align: justify;
    letter-spacing: 0.5px;
	color: #c9cad1;

	margin: 10px 0 0 0;
}