@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
	background: #121212;
	font-family: 'Montserrat', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

#container {
	margin-top: 3em;
	display: block;
}

.me {
	margin-right: 2em;
	margin-left: 17em;
	float: left;
	padding: 1em;
	border: 1px solid #2F2F2F;
	border-radius: 30px;
	background-color: #1e1e1f;
}

.me img {
	height: 20em;
	box-shadow: 0 5px 0px #3a3a3b;
    border-radius: 40px 0px 80px 45px;
}

.social {
	margin: 1em 0 0 0;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	transition: background-color 300ms;
}

.social a:hover {
	background-color: #3a3a3b;
}

.social a {
	color: #efcd6a;
	background-color: #202022;
	border: 1px solid #3a3a3b;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}





#aboutme  {
	margin-left: 5em;
	margin-bottom: 1em;
	width: 75%;
}

#aboutme  h1 {
    font-weight: bold;
    font-size: 3em;
    color: #efcd6a;
}

#aboutme p {
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
	text-align: justify;
    letter-spacing: 0.5px;
	color: #c9cad1;
	margin: 10px 0 0 0;
}


#education {
	float: left;
	width: 50%;
	color: #9c9b9b;
}

#education h2 {
	color: #f5f5f5;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

#education p {
	margin-top: 0.2em;
}